Repository htirawi/foodics-reservations: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,ts,vue}": ["eslint --fix", "prettier --write"],
  "*.{css,scss,md,json}": ["prettier --write"]
}

docs: add E2E testing safety guide Comprehensive documentation explaining offline mode, token separation, fixtures, safety preflight, and troubleshooting for Playwright E2E tests.
  docs/TESTING_E2E_SAFETY.md
Due: prettier --write

chore: remove unused vue-router dependency Removed vue-router as it's not used in the application. The project is a single-page app without routing needs.
  package-lock.json
  package.json
Due: prettier --write

fix: force GitHub contributor cache refresh
  FORCE_CONTRIBUTOR_REFRESH.md
Due: prettier --write

refactor(vue): standardize Vue 3 SFC structure across components
  package.json
  playwright.config.ts
  src/app/App.vue
  src/app/i18n/index.ts
  src/components/layout/AppHeader.vue
  src/components/layout/AppToaster.vue
  src/components/ui/AuthTokenBanner.vue
  src/components/ui/BaseButton.vue
  src/components/ui/BaseCard.vue
  src/components/ui/BaseInput.vue
  src/components/ui/BaseModal.vue
  src/components/ui/BaseSelect.vue
  src/components/ui/BaseTable.vue
  src/components/ui/ConfirmDialog.vue
  src/components/ui/EmptyState.vue
  src/components/ui/LocaleSwitcher.vue
  src/components/ui/PageLoading.vue
  src/components/ui/TimePill.vue
  src/components/ui/UiBanner.vue
  src/components/ui/UiModal.vue
  src/features/branches/components/AddBranchesModal.vue
  src/features/branches/components/BranchesCards.vue
  src/features/branches/components/BranchesTable.vue
  src/features/branches/components/DisableAllButton.vue
  src/features/branches/components/ReservationSettingsModal/SettingsModalIndex.vue
  src/features/branches/views/BranchesListView.vue
  src/utils/slots.ts
  tailwind.config.ts
  vite.config.ts
Due: eslint --fix, prettier --write

fix: resolve TypeScript strict indexing errors for Weekday type
  src/constants/reservations.ts
  src/features/branches/composables/slotEditorActions.ts
  src/features/branches/composables/slotValidation.ts
  src/features/branches/composables/useSettingsActions.ts
  src/features/branches/composables/useSlotsManagement.ts
  src/features/branches/utils/slot.validation.ts
  src/utils/slots.ts
  tests/unit/features/branches/slotEditorActions.spec.ts
Due: eslint --fix, prettier --write

feat: add loading states and toast notifications to settings modal
  src/app/i18n/locales/ar.json
  src/app/i18n/locales/en.json
  src/features/branches/components/BranchSettingsModal.vue
  src/features/branches/components/DaySlots.vue
  src/features/branches/components/DisableAllButton.vue
  src/features/branches/composables/useSettingsActions.ts
  src/features/branches/composables/useSettingsForm.ts
Due: eslint --fix, prettier --write

feat: enhance settings modal with UX improvements and better code structure
  src/app/i18n/locales/ar.json
  src/app/i18n/locales/en.json
  src/composables/useFocusManagement.ts
  src/composables/useKeyboardShortcuts.ts
  src/composables/useUnsavedChanges.ts
  src/features/branches/components/BranchSettingsModal.vue
  src/features/branches/components/DaySlots.vue
  src/features/branches/components/ReservationSettingsModal/SettingsModalActions.vue
  src/features/branches/composables/useSettingsForm.ts
  tests/unit/features/branches/useSettingsActions.spec.ts
Due: eslint --fix, prettier --write

docs: clean up README by removing internal sections
  README.md
Due: prettier --write

docs: update copyright year to 2025
  README.md
Due: prettier --write

feat: add Vercel deployment configuration
  README.md
  env.example
  src/constants/api.ts
  vercel.json
Due: eslint --fix, prettier --write

fix: add Vercel serverless proxy to resolve CORS issues
  api/proxy.ts
  env.example
  package-lock.json
  package.json
  src/constants/api.ts
  vercel.json
Due: eslint --fix, prettier --write

chore: add .vercel to .gitignore
  .gitignore
Due: none

docs: remove deployment section from README (kept in local guides)
  README.md
Due: prettier --write

fix: exclude api directory from Vue-specific ESLint rules
  .eslintrc.cjs
Due: none

refactor: scope async function restriction to Vue files only
  .eslintrc.cjs
Due: none

fix: replace proxy rewrite with Vercel catch-all routing
  api/[...path].ts
  api/proxy.ts
  vercel.json
Due: eslint --fix, prettier --write

fix: add defensive null checks for branches array operations
  src/features/branches/stores/branches.store.ts
Due: eslint --fix, prettier --write

fix: exclude /api routes from SPA rewrite in vercel.json
  vercel.json
Due: prettier --write

chore: specify Node.js runtime for Vercel serverless functions
  vercel.json
Due: prettier --write

fix: use correct Node.js runtime version for Vercel
  vercel.json
Due: prettier --write

fix: remove runtime config, let Vercel auto-detect
  vercel.json
Due: prettier --write

feat: add API test endpoint for health checks
  api/test.ts
Due: eslint --fix, prettier --write

debug: add more error details to API proxy for troubleshooting
  api/[...path].ts
  vercel.json
Due: eslint --fix, prettier --write

debug: add debug endpoint to inspect URL construction
  api/debug.ts
Due: eslint --fix, prettier --write

feat: add specific branches endpoint as workaround for catch-all routing
  api/branches.ts
Due: eslint --fix, prettier --write

chore: remove debug and test API endpoints
  api/debug.ts
  api/test.ts
Due: eslint --fix, prettier --write
